{% extends "layout.html" %}

{% block title %}
    Habits
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="../static/css/tasks.css">
    <link rel="stylesheet" href="../static/css/habits.css">
{% endblock %}


{% block body %}
    <h1 id="hello">Hello, {{ username }}.</h1>

    <section class="main">

        <ul id="habits_container">
        </ul>


    </section>

    <button id="open_modal">Add Habit</button>
    <script type="module" src="../static/js/habits/Habit.js"></script>
    <script type="module" src="../static/js/habits/habits.js"></script>
{% endblock %}
