{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form action="/register" method="POST">

        <input class="smooth" type="text" placeholder="Name" name="name">
        <input class="smooth" type="password" placeholder="Password" name="pass" minlength="8">
        <input class="smooth" type="password" placeholder="Password Again" name="again" minlength="8">

        <span>Already have an account? <a href="/login">Go to login</a></span>

        <button class="smooth" type="submit">Register</button>
    </form>
{% endblock %}
