form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: auto;
    width: 100%;
    max-width: 400px;
}

form span {
    font-size: 8pt;
}

form button {
    margin-top: 0.5rem;
}

button {
    margin: auto;
}

#add_task, #add_habit {
    position: absolute;
    bottom: 1rem;
}