/*****************************************************************/
/* GLOBAL FONT SETUP                                             */
/*****************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*****************************************************************/
/* CSS RESET - https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************************/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    color: var(--text);
    background: var(--background);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*****************************************************************/
/* GLOBAL ELEMENTS                                               */
/*****************************************************************/
:root {
    --radius: 8px;
}

body a {
    color: var(--link);
}

#toggle_theme {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

button, input {
    padding: .5rem;
    outline: 1px solid;
    border-radius: var(--radius);
    outline-color: var(--text-secondary);
    border: 0;
    color: var(--text);
    background-color: var(--background-darker);
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover, input:hover {
    background-color: var(--background);
}

button[type="submit"] {
    background-color: var(--submit);
}

button[type="submit"]:hover {
    background-color: var(--submit-secondary);
}

.smooth {
    transition: .25s;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}