#habits_container li {
    text-align: left;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
}

#habits_container li div {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}


#habits_container li div h1 {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
}

#habits_container li div h2 {
    font-size: .9rem;
    font-weight: normal;
}

#add_habit {
    position: relative;
    bottom: 0;
}

#habits_container .done {
    background-color: var(--submit);
}

#habits_container li button {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0;
}

.buttons {
    display: flex;
    gap: .8rem;
}
