#hello {
    margin-bottom: 1rem;
}

#tasks_container, #habits_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    width: 100vw;
    max-width: 500px;
    max-height: 595px;
    padding: 0;
    overflow-y: auto;
}

/* task body */
#tasks_container li, #habits_container li {
    background-color: var(--background-darker);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: var(--radius);
}

#tasks_container li div, #habits_container li div {
    display: flex;
    align-items: center;
}

/* task title */
#tasks_container li h1, #habits_container li h1 {
    font-weight: normal;
    font-size: medium;
    text-align: left;
}

/* task date */
#tasks_container li span {
    font-size: small;
    text-align: right;
}

/* checkbox */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    outline: 0;
    accent-color: var(--accent); /* Blue accent color */
    border-radius: var(--radius);
}

input[type="checkbox"]:checked + .task_name_done {
    text-decoration: line-through;
    color: var(--text-secondary);
}

/* delete icon */
#tasks_container .delete:hover {
    color: var(--text);
    cursor: pointer;
}

/* right part of task body*/
.task_right_container {
    display: flex;
    justify-content: flex-end;
    width: 4rem;
    color: var(--text-secondary);
}

#new_tip {
    opacity: .5;
}

.task_name {
    outline: 2px solid #000;
    outline-offset: -2px;
    outline-style: none;
    background: none;
    text-align: left;
    outline-offset: px-2px;
}

.task_name_done {
    padding: .5rem;
}

.delete {
    font-size: 14pt;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
