:root {
    --accent: rgb(206, 21, 206);
    --background-darker: rgb(12, 12, 12);
    --background: rgb(32, 32, 32);
    --text: rgb(238, 238, 238);
    --text-secondary: rgb(85, 85, 85);
    --link: rgb(128, 159, 255);
    --submit: rgb(14, 131, 14);
    --submit-secondary: rgb(11, 90, 11);
    --error: rgb(146, 27, 27);
}
