body {
    color: var(--text);
    background: var(--background);
}

body a {
    color: var(--link);
}

nav {
    background: var(--background-darker);
}

nav a {
    color: var(--accent);
}

nav a:hover{
    background-color: var(--background);
    opacity: 0.7;
}

button, input {
    outline-color: var(--text-secondary);
    border: 0;
    color: var(--text);
    background-color: var(--background-darker);
}

button:hover, input:hover {
    background-color: var(--background);
}

button[type="submit"] {
    background-color: var(--submit);
}

button[type="submit"]:hover {
    background-color: var(--submit-secondary);
}